In [1]:
import requests
import urllib3
from os import access
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

In [2]:
auth_url = "https://www.strava.com/oauth/token"
activites_url = "https://www.strava.com/api/v3/athlete/activities"

payload = {
    'client_id': "95182",
    'client_secret': '0f3b0b2de7ebd91cae1d0385907c758d35173a87',
    'refresh_token': '1df29eaf2800b2a25df18a2a5776bbcef36d9ea6',
    'grant_type': "refresh_token",
    'f': 'json'
}

# print("Requesting token...")
res = requests.post(auth_url, data=payload, verify=False)
access_token = res.json()['access_token']
# print("Access token = {}\n".format(access_token))

header = {'Authorization': 'Bearer ' + access_token}
param = {'per_page': 200, 'page': 1}
my_dataset = requests.get(activites_url, headers=header, params=param).json()

In [56]:
import pandas as pd 
import matplotlib.pyplot as plt

df = pd.DataFrame(my_dataset)

df

,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,workout_type,...,total_photo_count,has_kudoed,suffer_score,elev_high,elev_low,average_watts,max_watts,weighted_average_watts,kilojoules,device_watts
0,2,"{'id': 36475314, 'resource_state': 1}",5x7 min - DNF,3974.2,1501,1600,0.0,Run,Run,0.0,...,0,False,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"{'id': 36475314, 'resource_state': 1}",Trondheim Skogsmaraton,21074.2,7011,7011,513.0,Run,Run,1.0,...,1,False,211.0,363.0,147.6,NaN,NaN,NaN,NaN,NaN
2,2,"{'id': 36475314, 'resource_state': 1}",Status Check ⚠️,11093.3,4670,4797,271.0,Run,Run,0.0,...,0,False,22.0,319.0,176.4,NaN,NaN,NaN,NaN,NaN
3,2,"{'id': 36475314, 'resource_state': 1}",Storheia,9442.8,4440,4838,381.0,Run,Run,0.0,...,1,False,27.0,515.4,333.0,NaN,NaN,NaN,NaN,NaN
4,2,"{'id': 36475314, 'resource_state': 1}",Afternoon Run,11741.1,4022,4022,0.0,Run,Run,0.0,...,0,False,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2,"{'id': 36475314, 'resource_state': 1}",Buldring,0.0,8083,8083,0.0,RockClimbing,RockClimbing,NaN,...,0,False,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,2,"{'id': 36475314, 'resource_state': 1}",Buldring,0.0,4957,4957,0.0,RockClimbing,RockClimbing,NaN,...,0,False,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,2,"{'id': 36475314, 'resource_state': 1}",Slagvolumjakt,6459.9,2086,2730,11.0,Run,Run,0.0,...,0,False,39.0,1.4,-10.7,332.0,516.0,339.0,692.6,True
198,2,"{'id': 36475314, 'resource_state': 1}",Buldring,0.0,4857,4857,0.0,RockClimbing,RockClimbing,NaN,...,0,False,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,2,"{'id': 36475314, 'resource_state': 1}",Fat and Unfit vol.2,6886.1,2242,2861,0.0,Run,Run,0.0,...,0,False,37.0,8.1,-5.0,329.0,482.0,334.0,737.5,True